/*
    Document   : intro.css
    Created on : 2015-09-04 06:09 PM
    Author     : biancahd
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
 body {
    background-color:lavenderblush;
    font-family:"Tahoma";
    margin: 0px 0px 200px 200px;
    color: black;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
     
 }

p, li, #definition2a {
    margin-left: 4%;
    width: 90%;
    text-align: justify;
}
h1 {
    color: orchid;
    font-family:"Courier New";
    font-size: 4em;
    border-bottom: 5px solid la;
}
#picbee {
    position:static;
    float:left;
    margin-left: 5%;
    margin-right: 2%;
    width: 50%;
    z-index: 4;
}
#part{
   position:static;
    float:center;
    margin-left: 5%;
    width: 400px;
}

#picsummit {
    position:static;
    float:right;
    margin-left: 5%;
    margin-right: 10%;
    width: 15%;
}

#picsummit1 {
    position:static;
    float:right;
    margin-left: 5%;
    margin-right: 10%;
    width: 30%;
    
}
#table1 {
    width: 500px;
}

#table2 {
    width: 220px;
}

#picbook {
    position:static;
    float:right;
    margin-left: 5%;
    margin-right: 10%;
    width: 15%;
}

#picarrow {
    position:right;
    float:right;
    width: 15%; 
}
#lilbee1 {
    position: static;
    float: left;
    margin-top: 9.8%;
}
#littlebio {
    left: 5em;
    width: 90%;
    text-align: justify;
}
#pictimtim{
    position: static;
    float: left;
    margin-left: 4%;
    margin-right: 2%;
    width: 200px;
}
#pic-css{
    position: static;
    float: left;
    margin-left: 4%;
    margin-right: 2%;
    width: 100px;
}
#definition2a {
    color: rgb(194, 133, 194);
}
#defcs {
    left: 10em;
    color: rgb(194, 133, 194);
}
#smallf {
    font-size: black .8 em;
    font-family:"Courier New"
}
#definition1 {
    font-family:"Courier New";
    font-size: 2em;
}
#smallfont {
    font-family:"Tahoma";
    font-size: .9em;
}
#serifff {
    color: black;
    font-family:"Serif";
}

#titlewrapper h1{
    text-align:center;
}

}
body, h1, h2{
    position: static;
    line-height: 1.1em;
    text-align: left;
    margin-left: 15%;
    margin-right: 25%;
}

h3 {
    font-family: "Courier New";
    font-weight: bolder;
    border-bottom: 2.5px solid purple;
    
}

<head> 
<!---nav bar--->
body {
  margin: 0;
  padding: 0;
  background: lavenderblush;
}
 
.nav ul {
  list-style: none;
  background-color: purple;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Courier New', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid lavender;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color:lightcoral;
}
 
.nav a.active {
  background-color: lavenderblush;
  color: hotpink;
  cursor: default;
}

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
<!--- styling---> 
<style> 
th {
    text-align: left;
    border-bottom: 3px solid black;
}
td {
    border-bottom: 1px solid grey;
    padding: 15px;
}

<!---headings---> 
h1, h3 {
    text-align: left;
    border-bottom: 2.5px solid purple;
    color: purple;  
}
h1 {
    color: purple;
}
h5{
    line-height: .5em;
}
h3,h2, h4, h5 {
    font-family:"Courier New";
}

h2{
    text-align: center;
    font-size: 1.2em;
    color: purple;
}
<p align="left">

h3{
   color: rgb(121,44,133);
}

h4 {
    font-size: 3em;
    color: black;
}

h5 {
    font-size: 1.5em;
}


<!---examples CSS HTML page --->


</style>
</head>