/*
    Document   : intro.css
    Created on : 2015-09-04 06:09 PM
    Author     : biancahd
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

 body {
    background-color: #523750; /*dark purple nav bar color*/
    font-family:"Raleway";
    margin: 0px 0px 200px 200px;
    color: pink;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
     
 }

p, li, #definition2a {
    margin-left: 4%;
    width: 90%;
    text-align: justify;
}
h1 {
    color: orchid;
    font-family:"Raleway";
    font-size: 1em;
    border-bottom: 5px solid #70396C; /*orchid*/
}

#counter_results {
    float: inline;
    margin-left: 40%;
}
#countertext{
    float: fixed;
    margin-left:15%;
    color: #70396C; /*orchid*/
    ;
}

#picbee {
    position:static;
    float:left;
    margin-left: 5%;
    margin-right: 2%;
    width: 50%;
    z-index: 4;
}
#part{
   position:static;
    float:center;
    margin-left: 5%;
    width: 400px;
}

#picsummit {
    position:static;
    float:right;
    margin-left: 5%;
    margin-right: 10%;
    width: 15%;
}

#picsummit1 {
    position:static;
    float:right;
    margin-left: 5%;
    margin-right: 10%;
    width: 30%;
    
}
#table1 {
    width: 500px;
}

#table2 {
    width: 220px;
}

#picbook {
    position:static;
    float:right;
    margin-left: 5%;
    margin-right: 10%;
    width: 15%;
}

#picarrow {
    position:right;
    float:right;
    width: 15%; 
}
#lilbee1 {
    position: static;
    float: left;
    margin-top: 9.8%;
}
#littlebio {
    left: 5em;
    width: 90%;
    text-align: justify;
}
#pictimtim{
    position: static;
    float: left;
    margin-left: 4%;
    margin-right: 2%;
    width: 200px;
}
#pic-css{
    position: static;
    float: left;
    margin-left: 4%;
    margin-right: 2%;
    width: 100px;
}
#definition2a {
    color: #D20BC5; /*magenta*/
}
#defcs {
    left: 10em;
    color: #D20BC5;/*magenta*/
}
#smallf {
    font-size: pink .8 em;
    font-family:"Raleway"
}
#definition1 {
    font-family:"Raleway";
    font-size: 2em;
}
#smallfont {
    font-family:"Raleway";
    font-size: .9em;
}
#serifff {
    color: pink;
    font-family:"Serif";
}

#titlewrapper h1{
    text-align:center;
}



body, h1, h2{
    position: static;
    line-height: 1.1em;
    text-align: left;
    margin-left: 15%;
    margin-right: 25%;
}

h3 {
    font-family: "Raleway";
    font-weight: bolder;
    
}


body {
  margin: 0;
  padding: 0;
}
 
.nav ul {
  list-style: none;
  background-color: #C2939B;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #241F49;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color:#EDBEEA;
}
 
.nav a.active {
  background-color: #523750; /*ashy*/
  color: hotpink;
  cursor: default;
}

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }



th {
    text-align: left;
    border-bottom: 3px #460842;
}
td {
    border-bottom: 1px #A44C9E;
    padding: 15px;
}


h1, h3 {
    text-align: left;
    color: #FCDDFA;  
}
h1 {
    color: pink;
}
h5{
    line-height: .5em;
}

h3,h2, h4, h5 {
    font-family:"Raleway";
}

h2{
    text-align: center;
    font-size: 1.2em;
    color: pink;
}


h3{
   color: pink;
   font-size: 1.2em;
}

h4 {
    font-size: 2em;
    color: #FCDDFA;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: .75em;
    font-family: "Raleway";
    color: grey;
    line-height: .8em;
    margin-left: 40%;
}
 
h9 {
 background-color: #523750;
    font-family:"Raleway";
    margin: 0px 0px 200px 200px;
    color: pink;
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 5%;
}

#code {
    background-color: #523750;

}

/*word count page */
    h3, #title {
        color: #C89EC5;
        font-size: 2em;
    }
    
    ol, p {
        color: pink;
    }
    
    body {
        font-family:"Raleway";
        margin: 0px 0px 200px 200px;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 5%;
        letter-spacing: .25px;
    }
    
    #name {
        color: #B67FB2;
        margin-left: 7%;   
    }
    }
    
    #textbox1 {
        font-family:"Raleway";
    }
    
    #analyze {
       border: 1px solid #573D56;
       background: #a84689;
       background: -webkit-gradient(linear, left top, left bottom, from(#692e66), to(#a84689));
       background: -webkit-linear-gradient(top, #692e66, #a84689);
       background: -moz-linear-gradient(top, #692e66, #a84689);
       background: -ms-linear-gradient(top, #692e66, #a84689);
       background: -o-linear-gradient(top, #692e66, #a84689);
       padding: 
            13.5px 27px;
             -webkit-border-radius: 28px;
             -moz-border-radius: 28px;
       border-radius: 18px;
            -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
            -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
       text-shadow: 
            rgba(0,0,0,.4) 0 1px 0;
       color: #F1E4F2;
       font-size: 16px;
       font-family: "Raleway";
       text-decoration: none;
       vertical-align: middle;
    }
  
    #countertext, #name, #analyze, #textbox1 {
        margin-left: 10%; 
    }
   
    #analyze:hover {
       border-color: #AAA0B0;
       background: #E8C8E8;
       color: #573D56;
   }
   
    #analyze:active {
       border-color: #8c2a6a;
       background: #8c2a6a;
  }

    #name {
        letter-spacing: 5px;
    }
    
/*word count "COUNT." app made at FB techstart awards hackathon*/
